.main {
	padding-top: 100px;

	width: 100%;
	height: 100vh;

	background-color: aliceblue;
	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
		span {
			font-size: 14px;
			font-weight: 500;

			color: #ff6565;
		}
	}

	button {
		font-family: 'Montserrat', sans-serif;
		padding: 15px 35px;

		font-weight: 600;
		border-radius: 10px;
		color: #fff;
		background-color: #292929;
		width: fit-content;
		margin: 0 auto;
	}
	.output {
		overflow-y: scroll;
		margin: 10px;
		padding: 10px;
		border-radius: 14px;
		max-height: calc(100vh - 350px);
		height: fit-content;

		display: flex;
		flex-direction: column;

		border: 1px solid #cccbcb;

		background-color: #fff;

		&_loader {
			overflow: hidden;
			border: 1px solid #cccbcb;
			background-color: #fff;

			height: calc(100vh - 350px);
			padding: 15px 30px;
			margin: 10px;
			border-radius: 14px;

			.lesson {
				// width: 90%;
				height: 80px;
				background: rgb(224, 234, 244);
				background: linear-gradient(
					306deg,
					rgba(224, 234, 244, 1) 0%,
					rgba(240, 248, 255, 1) 49%,
					rgba(224, 234, 244, 1) 100%
				);
				margin: 10px auto;
				border-radius: 10px;
			}
		}

		.lesson {
			color: #101010;
			border: 1px solid rgb(192, 201, 207);
			border-radius: 10px;
			padding: 10px;
			margin: 10px 0;

			background-color: aliceblue;

			display: flex;
			gap: 20px;

			.path {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
