.aside {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #292929;
	width: 0;

	// margin-top: 100px;

	// visibility: hidden;

	transition: width 0.2s ease-out;

	z-index: 10;

	.inner {
		visibility: hidden;
	}
}
.active {
	visibility: visible;

	position: fixed;

	top: 0;
	left: 0;
	right: 100px;
	bottom: 0;
	width: 300px;

	color: #ffffff;
	background-color: #292929;

	transition: width 0.2s ease-out;

	.inner {
		padding: 10px;
		margin: 100px 0;

		width: 100%;
		.nav {
			display: flex;
			flex-direction: column;

			gap: 10px;

			width: 100%;

			a {
				font-weight: 500;
				color: #fff;

				text-decoration: none;

				li {
					list-style-type: none;

					padding: 10px 20px;
					background-color: #4e4e4e;

					border-radius: 9px;
				}
			}
		}
	}
}
