$primery: #303030;
$secondary: #ffffff;

$bg-main: #e9f0fb;

$white: #ffffff;
$black: #101010;
$red: #da2c2c;

$gray-border: #dddddd;
$gray-navigation: #f4f4f4;
$blue: #4d78ec;
$blue-dark: #476bce;
$blue-light: #75a3f3;
$blue-navigate: #3c60c3;

$header-height: 65px;
$profile-height: 60px;
$sidebar-width: 350px;
$sidebar-small-width: 270px;
$navigation-width: 260px;
$navigation-staffed-width: 80px;

$header-z-index: 1000;
